/* Адаптивная версия для мобильных устройств */
/* Адаптивная версия для горизонтального режима (landscape) */
@media (max-width: 1024px) and (max-height: 480px) {
    .attention{
		display: block;
		margin: 25vw 5vw 0vw 5vw;
		padding-top: 15vw;
	}
    .orientation-message {
        display: none; /* Скрыть сообщение */
    }

    .mainscreen {
        width:56rem;
        left:rem;


    }
    .maintitle{
      position: absolute;
      font-size: 3rem;
        left:27.5rem;
        z-index:3;
    }
    
    .card2{
        left:24rem;
        width:23%;
        left:20rem;
        bottom:2.4rem;
    }
    .card3{
        left:24rem;
        width:23%;
        left:37rem;
        bottom:2.4rem;
    }
        .card1{
        left:24rem;
        width:23%;
        left:3rem;
        bottom:2.4rem;
    }
    .cardsshadow img{
        position: relative;
        width:56rem;
        z-index:0;
        left:-1rem;
        bottom:-2.9rem;
    }
    .decor img {
    position:relative;
        width:50rem;
        z-index:0;
        left:-2rem;
         bottom:-2rem;
}
    
    .card1 img, .card2 img, .card3 img {
        max-width: 90%;
    }
}
